*{
    box-sizing: border-box;
}
body{
    background-color: #538392;
}
.container{
    width: 90vmin;
    padding: 50px 30px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #B3E2A7;
    border-radius: 10px;
    position: absolute;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
}
button{
    width: 30px;
    height: 30px;
    display: grid;
    border-radius: 5px;
    border: none;
    place-items: center;
    background-color: #B3E2A7;
    outline: none;
}